<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/4.2-rol_listar.css}" />
    <title>Menú de Usuario</title>
</head>
<body>
    <div class="contenedor-tarjeta">
        <div class="cabecera-logo">
            <img th:src="@{/imagenes/logo.jpeg}" alt="Logo de la aplicación" class="logo-imagen" />
        </div>

        <div class="contenido-principal">
            <div class="titulo-solicitud fw-bold text-uppercase">Gestión de Usuario</div>
            
            <div class="rejilla-botones">
                <button class="boton-accion" th:onclick="|window.location.href='@{/usuario_agregar}'|">Agregar</button>
                
                <button class="boton-accion" th:onclick="|window.location.href='@{/usuario_listar}'|">Listar</button>
                
                <button class="boton-accion" th:onclick="|window.location.href='@{/seguridad}'|">Volver</button>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>